{% extends 'user/base.html' %}
{% block title %} users {% endblock %}
{% block content %}
<a href="{% url 'create_user' %}"><button type="button" class="btn btn-primary">Create user</button></a>
<hr>
<div class="container">
    <div class="users_info">
        <li>Id</li>
        <li>Username</li>
        <li>Group</li>
      </div>
</div>
</div>
{% for user in users %}
<div class="container">
    <div class="users">
        <li>{{user.id}}</li>
        <li class="username">{{user.username}}</li>
        <li class="user-group">{{user.group}}</li>
        <div class="edit-button">
            <li><a href="{% url 'group' %}" class=""><button type="button" class="btn btn-secondary">Edit user</button></a></li>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}
